.first-p-tag {
    font-size: 20px;
    color: blue;
    background-color: blueviolet;
}
/* .sec-p-tag{
    border: 3px dashed blue;
    color: white;
    background-color: black;
} */
#id1{
    background-color: chocolate;
    font-size: 30px;
}
#id2{
    background-color: purple;
    color: white;
}
.parent-sec{
    border: 2px solid red;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
}
.child{
    border: 2px solid black;
    padding: 30px;
    margin: 20px;
}